source ~/.vimrc
"source ~/.vim/vimrc

set showmode

set ideamarks

set keep-english-in-normal-and-restore-in-insert

"use s{char}{char} to move to {char}{char}
nmap s <Plug>(easymotion-bd-f2)

"use <Leader>f{char} to move to {char}
map  <Leader>f <Plug>(easymotion-bd-f)
nmap <Leader>f <Plug>(easymotion-bd-f)

"use <Leader>l to move to line
map  <Leader>l <Plug>(easymotion-bd-jk)
nmap <Leader>l <Plug>(easymotion-bd-jk)

"use <Leader>w to move to word
map  <Leader>w <Plug>(easymotion-bd-w)
nmap <Leader>w <Plug>(easymotion-bd-w)

"Map IDE actions to IdeaVim (https://jb.gg/abva4t)
noremap <Leader>k :action ReformatCode<CR>
noremap <Leader>z :action CommentByLineComment<CR>
noremap <Leader>d :action Debug<CR>
noremap <Leader>x :action ContextRun<CR>
noremap <Leader>c :action RunClass<CR>
noremap <Leader>a :action Stop<CR>
noremap <Leader>t :action ActivateTerminalToolWindow<CR>
noremap <Leader>o :action Terminal.OpenInTerminal<CR>

nnoremap tn :action PreviousTab<CR>
nnoremap ti :action NextTab<CR>

nnoremap tt :action ShowNavBar<CR>
nnoremap ts :action SearchEverywhere<CR>
nnoremap ta :action GotoAction<CR>
nnoremap tr :action RecentFiles<CR>
nnoremap tf :action FindInPath<CR>

nnoremap tv :action IdeaVim.ReloadVimRc.reload<CR>

noremap T :action CloseContent<CR>
