" Source your .vimrc
source ~/.vimrc
"source ~/.vim/vimrc

set showmode

set ideamarks

" idea marks only support upper cases
nnoremap ma mA
nnoremap mb mB
nnoremap mc mC
nnoremap md mD
nnoremap me mE
nnoremap mf mF
nnoremap mg mG
nnoremap mh mH
nnoremap mi mI
nnoremap mj mJ
nnoremap mk mK
nnoremap ml mL
nnoremap mm mM
nnoremap mn mN
nnoremap mo mO
nnoremap mp mP
nnoremap mq mQ
nnoremap mr mR
nnoremap ms mS
nnoremap mt mT
nnoremap mu mU
nnoremap mv mV
nnoremap mw mW
nnoremap mx mX
nnoremap my mY
nnoremap mz mZ

nnoremap 'a 'A
nnoremap 'b 'B
nnoremap 'c 'C
nnoremap 'd 'D
nnoremap 'e 'E
nnoremap 'f 'F
nnoremap 'g 'G
nnoremap 'h 'H
nnoremap 'i 'I
nnoremap 'j 'J
nnoremap 'k 'K
nnoremap 'l 'L
nnoremap 'm 'M
nnoremap 'n 'N
nnoremap 'o 'O
nnoremap 'p 'P
nnoremap 'q 'Q
nnoremap 'r 'R
nnoremap 's 'S
nnoremap 't 'T
nnoremap 'u 'U
nnoremap 'v 'V
nnoremap 'w 'W
nnoremap 'x 'X
nnoremap 'y 'Y
nnoremap 'z 'Z

set keep-english-in-normal-and-restore-in-insert

"unused ops:
"* ** .g  j*.m
" * q  *  .* z

" <Leader>f{char} to move to {char}
map  <Leader>f <Plug>(easymotion-bd-f)
nmap <Leader>f <Plug>(easymotion-bd-f)

" s{char}{char} to move to {char}{char}
nmap s <Plug>(easymotion-bd-f2)

" Move to line
map <Leader>l <Plug>(easymotion-bd-jk)
nmap <Leader>l <Plug>(easymotion-bd-jk)

" Move to word
map  <Leader>w <Plug>(easymotion-bd-w)
nmap <Leader>w <Plug>(easymotion-bd-w)

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
noremap <leader>k :action ReformatCode<CR>
noremap <leader>m :action CommentByLineComment<CR>
noremap <leader>d :action Debug<CR>
noremap <leader>x :action ContextRun<CR>
noremap <leader>c :action RunClass<CR>
noremap <leader>a :action Stop<CR>
noremap <leader>t :action ActivateTerminalToolWindow<CR>
noremap <leader>o :action Terminal.OpenInTerminal<CR>

"T unused ops:
". cde*g*
" opq*..  wxyz

nnoremap tn :action PreviousTab<CR>
nnoremap ti :action NextTab<CR>

nnoremap tt :action ShowNavBar<CR>
nnoremap ts :action SearchEverywhere<CR>
nnoremap ta :action GotoAction<CR>
nnoremap tr :action RecentFiles<CR>
nnoremap tf :action FindInPath<CR>

nnoremap tv :action IdeaVim.ReloadVimRc.reload<CR>

noremap T :action CloseContent<CR>
