" Source your .vimrc
"source ~/.vimrc
source ~/.vim/vimrc

set encoding=utf-8
set showmode
set autoindent

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

Plug 'machakann/vim-highlightedyank'

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
"map Q gq

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
noremap <leader>f :action ReformatCode<CR>
noremap <leader>c :action CommentByLineComment<CR>
noremap <leader>d :action Debug<CR>
noremap <leader>r :action ContextRun<CR>
noremap <leader>x :action RunClass<CR>
noremap <leader>t :action Stop<CR>

noremap st :action ActivateTerminalToolWindow<CR>
noremap sh :action Terminal.OpenInTerminal<CR>

noremap tn :action PreviousTab<CR>
noremap ti :action NextTab<CR>

noremap tt :action ShowNavBar<CR>
noremap ts :action SearchEverywhere<CR>
noremap ta :action GotoAction<CR>
noremap tr :action RecentFiles<CR>
noremap tf :action FindInPath<CR>
noremap th :action FileStructurePopup<CR>

noremap R :action IdeaVim.ReloadVimRc.reload<CR>
noremap Q :action CloseContent<CR>
